<!DOCTYPE html>
<html lang="en">
  <head>
    <%= erb :head_css %>
    <meta charset="UTF-8">
  </head>

  <body>
  <%= erb :header %>
  <%= erb :navbar %>
  <header>
<br>
      <h3 align="center">
        MakersBnB Spaces
      </h3><br>

    </header>

    <main>
      <div id="master" style="width: 90%; margin: 0 auto;">
        <div class="row">
        <% @spaces.each do |entry| %>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <ul>
                    <li><%= entry.name %></li>
                    <li>Description: <%= entry.description %></li>
                    <li>Location: <%= entry.location %></li>
                    <li>Price: £<%= entry.price %></li>
                    <% user = User.find(id: entry.user_id) %>
                    <li>Host: <%=  %></li> <br>
                    <a href="#" class="btn btn-primary" style="background-color: #20B2AA; border: 0px;">Book Space</a>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </main>
  </body>
</html>


<!--        <h5 class="card-title">Special title treatment</h5>-->
<!--        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->

<!--  <div class="col-sm-6">-->
<!--    <div class="card">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Special title treatment</h5>-->
<!--        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
