<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>

  <body>
    <header>
      <h1>
        MakersBnB Spaces
      </h1>
    </header>

    <div>
      <form action="/sessions/destroy" method="post">
        <input type="submit" value="Log Out" >
      </form>
    </div>

    <main>
      <section class="display-spaces">
        <% @spaces.each do |entry| %>
        <ul>
          <li><%= entry.name %></li>
          <li>Description: <%= entry.description %></li>
          <li>Location: <%= entry.location %></li>
          <li>Price: £<%= entry.price %></li>
          <% user = User.find(id: entry.user_id) %>
          <li>Host: <%= user.name %></li> <br>
        </ul>
          <div>
            <form action="/request_confirmation/<%=entry.id%>" method="get">
              <input type="submit" value="Request Property">
            </form>
          </div>
          <% end %>
      </section>
    </main>
  </body>
</html>