<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= erb :head_css %>

</head>
<body>
<%= erb :header %>
<%= erb :navbar %>
    <header>
      <h1>
        Requests
      </h1>
    </header>
    <main>
      <section class="requests-made">
        <p>
          <h3>
            Requests Made
          </h3>
        </p>
        <ul>
          <% @requests_made.each do |request| %>
            <li>
              <%= request['name'] %>
            </li>
            <li>
              <%= request['check_in'] %>
            </li>
          <% end %>
        </ul>
      </section>
      <section class="requests-received">
        <p>
        <h3>
          Requests Received
        </h3>
        </p>
        <ul>
          <% @requests_received.each do |request| %>
            <li>
              <%= request['name'] %>
            </li>
            <li>
              <%= request['check_in'] %>
            </li>
          <form action="/requests/<%= request['id'] %>" method="post">
            <input type="hidden" name="_method" value="PATCH">
            <input type="submit" value="Confirm Booking">
          </form>
          <form action="/requests/<%= request['id'] %>" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Reject Booking">
          </form>
          <% end %>
        </ul>
      </section><br>
      <p>Return to <a href="/dashboard">dashboard</a>.</p>
    </main>
  </body>
</html>