<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="generator" content="Jekyll v4.1.1">
  <title>Floating labels example · Bootstrap</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/floating-labels/">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-grid.css">
  <link rel="stylesheet" href="css/bootstrap-reboot.css">
  <script src="/js/bootstrap.min.js"></script>
  <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
      .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
      }
      @media (min-width: 768px) {
          .bd-placeholder-img-lg {
              font-size: 3.5rem;
          }
      }
  </style>
  <!-- Custom styles for this template -->
</head>
  <body>
    <header>
      <h1>
        Requests
      </h1>
    </header>
    <main>
      <section class="requests-made">
        <p>
          <h3>
            Requests Made
          </h3>
        </p>
        <ul>
          <% @requests_made.each do |request| %>
            <li>
              <%= request['name'] %>
            </li>
            <li>
              <%= request['check_in'] %>
            </li>
          <% end %>
        </ul>
      </section>
      <section class="requests-received">
        <p>
        <h3>
          Requests Received
        </h3>
        </p>
        <ul>
          <% @requests_received.each do |request| %>
            <li>
              <%= request['name'] %>
            </li>
            <li>
              <%= request['check_in'] %>
            </li>
          <form action="/requests/<%= request['id'] %>" method="post">
            <input type="hidden" name="_method" value="PATCH">
            <input type="submit" value="Confirm Booking">
          </form>
          <form action="/requests/<%= request['id'] %>" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Reject Booking">
          </form>
          <% end %>
        </ul>
      </section><br>
      <p>Return to <a href="/dashboard">dashboard</a>.</p>
    </main>
  </body>
</html>